{% extends "layout.html" %}
{% block content %}

<!-- Content Section -->
<section class="h60">
    <div class="container">
        <div class="card m-5">
            <div class="card-body">
                <div class="card-title">
                    <h3>Account Information</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6 my-2">
                        <label for="email">Email:</label>
                        <div class="lead" name="email">{{ current_user.email_id}}</div>
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="dateJoined">Username:</label>
                        <div class="lead" for="dateJoined">{{ current_user.user_name }}</div>
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="eventsBooked">Events Booked:</label>
                        <div class="lead">{{ current_user.bookedEvents|int }}</div>
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="favoriteTypeOfEvent">Most Common Event:</label>
                        <div class="lead" for="dateJoined">{{ current_user.favoriteEvent() }}</div>
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="name">Contact Number:</label>
                        <div class="lead" name="name">{{current_user.contact}}</div>
                    </div>
                    <div class="col-md-6 my-2">
                        <label for="address">Address:</label>
                        <div class="lead" name="address">{{ current_user.address }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card m-5">
            <div class="card-body">
                <div class="card-title">
                    <h3>Booking History</h3>
                </div>
                <hr>
                <ul class="list-group">
                    {% for event in current_user.bookedEvents %}
                    <li class="list-group-item">
                        <div class="row justify-content-around">
                            <div class="col-lg-2">
                                <img src="./img/Dice.jpg" alt="Dice" class="img-fluid rounded-custom my-4">
                            </div>
                            <div class="col-lg-8">
                                <h4 class="mt-3">{{event.eventName}}</h4>
                                <div class="row justify-content-around my-4">
                                    <div class="col-lg-6 my-1">
                                        <label>Date of Event:</label>
                                        <div class="lead">{{event.date}}</div>
                                    </div>
                                    <div class="col-lg-6 my-1">
                                        <label>Price:</label>
                                        <div class="lead">
                                            {{event.price}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 my-1">
                                        <label>Type:</label>
                                        <div class="lead">
                                            {{event.gameType}}
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-dark btn-block w-75"
                                    href="{{url_for('/eventDetails/'.join(event.id))}}">
                                    View
                                </button>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                    {% if current_user.bookedEvents == [] %}
                    <div class="container">
                        <div class="display-4 text-center">
                            No events booked yet
                        </div>
                    </div>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>

</section>
{% endblock %}