{% extends "layout.html" %}

{% block content %}
<!-- Content Section -->
<section class="h60 bg-light">
    <form method="POST" action='' enctype="multipart/form-data">
        {{ form.csrf_token }}
        <h2 class="text-center m-4">Enter your event details below:</h2>
        <div class="row justify-content-around mt-4">
            <div class="col-md-8 w-75 my-5">
                <div class="card">
                    <div class="card-body">


                        <div class="form-group">
                            <div class="row justify-content-between my-2">
                                <div class="col-md-12">
                                    {{form.image.label}}
                                    {{form.image(class_="form-control cursor-pointer", type_="file")}}
                                </div>
                                <div class="col-md-6">
                                    {{form.eventName.label}}

                                    {{form.eventName(class_="form-control")}}

                                </div>
                                <div class="col-md-6">
                                    {{form.status.label}}

                                    {{form.status(class_="form-control")}}

                                </div>
                                <div class="col-md-6">
                                    {{form.blurb.label}}

                                    {{form.blurb(class_="form-control")}}

                                </div>
                                <div class="col-md-6">
                                    {{form.price.label}}
                                    {{form.price(class_="form-control")}}

                                </div>
                                <div class="col-md-6">
                                    {{form.gameType.label}}
                                    {{form.gameType(class_="form-control")}}

                                </div>
                                <div class="col-md-6">
                                    {{form.date.label}}
                                    {{form.date(class_="form-control", placeholder_="Date")}}
                                </div>
                            </div>
                            <div class="row justify-content-between my-2">
                                <div class="col-md-6">
                                    {{form.startTime.label}}
                                    {{form.startTime(class_="form-control")}}
                                </div>
                                <div class="col-md-6">
                                    {{form.endTime.label}}
                                    {{form.endTime(class_="form-control")}}
                                </div>
                            </div>
                            <div class="row justify-content-between my-2">
                                <div class="col-md-6">
                                    {{form.location.label}}
                                    {{form.location(class_="form-control", placeholder_="Address")}}
                                </div>
                                <div class="col-md-6">
                                    {{form.tickets.label}}
                                    {{form.tickets(class_="form-control", placeholder_="Tickets")}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card my-3">
                    <div class="card-body">
                        {{form.requirements.label}}
                        {{form.requirements(class_="form-control", rows_=5)}}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        {{form.description.label}}
                        {{form.description(class_="form-control", rows_=5)}}
                    </div>
                </div>
                <div class="row justify-content-around mt-3">
                    {{form.submit(class_="btn btn-success col-sm-4")}}
                    <a href={{url_for('main.index')}} class="btn btn-danger col-sm-4">Cancel</a>
                </div>

            </div>

        </div>
    </form>
</section>

{% endblock %}