{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!-- Form for logging in and signing up -->
<section class="h60 bg-light">
    <form method="POST" action='' enctype="multipart/form-data" novalidate>
        {{ form.csrf_token }}
        <h2 class="text-center m-4">
            {% if pageType == "/auth/register" %}
            Please register your details below:
            {% else %}
            Please login below:
            {% endif %}
        </h2>
        <div class="row justify-content-around mt-4">
            <div class="col-md-8 w-75 my-5">
                <div class="card">
                    <div class="card-body">
                        <div class="form-group w-50 mx-auto">
                            <div class="my-2">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                <ul class="flashes list-group">
                                    {% for category, message in messages %}
                                    <li class="text-center list-group-item  {{category}}">
                                        {{message}}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="my-2">
                                {{form.user_name.label}}
                                {{form.user_name(class_="form-control")}}
                            </div>
                            {% if pageType == "/auth/register" %}
                            <div class="my-2">
                                {{form.email_id.label}}
                                {{form.email_id(class_="form-control")}}
                            </div>
                            {% endif %}
                            {% if pageType == "/auth/register" %}
                            <div class="my-2">
                                {{form.address.label}}
                                {{form.address(class_="form-control")}}
                            </div>
                            {% endif %}
                            {% if pageType == "/auth/register" %}
                            <div class="my-2">
                                {{form.contact.label}}
                                {{form.contact(class_="form-control")}}
                            </div>
                            {% endif %}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            <div class="my-2">
                                {{form.password.label}}
                                {{form.password(class_="form-control")}}
                            </div>
                            {% if pageType == "/auth/register" %}
                            <div class="my-2">
                                {{form.confirm.label}}
                                {{form.confirm(class_="form-control")}}
                            </div>
                            {% endif %}
                            <div class="my-2">
                                {{form.submit(class_="form-control btn btn-success")}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>
{% endblock %}